{%- assign lang = page.lang | default: site.default_lang -%}
{%- assign t = site.data.i18n[lang] -%}
<!DOCTYPE html>
<html lang="{{ t.html_lang }}" data-lang="{{ lang }}">
<head>
  {%- include head.html -%}
</head>
<body>
  {%- include header.html -%}
  <main id="content" class="page-content">
    {{ content }}
  </main>
  {%- include footer.html -%}
  <script src="{{ '/assets/js/site.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  {%- include analytics.html -%}
</body>
</html>
